.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    line-height: 12px;
    flex-wrap: wrap;
    width: 478px;
}

.card hr{
    flex: 0 1 100%;
    width: 100%;
    border: 1px solid #F5F5F5;
    margin-bottom: 15px;
}

.card-figure--image{
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
}

.card-informations{
    height: 144px;
    width: 326px;
}

.card-informations--title{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 14px;
}

.card-informations--date{
    font-size: 10.24px;
    margin-bottom: 9px;
}
.card-informations--description{
    font-size: 10.24px;
    line-height: 150%;
}
.card-informations--location{
    display: flex;
    gap: 12px;
    margin-bottom: 4px;
}

.card-informations--location-country{
    font-size: 10.24px;
    letter-spacing: 0.17em;
    display: flex;
    gap: 4px;
}

.card-informations--location-link{
    font-size: 10.24px;
}

